<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Add Category</title>
</head>

<body>
<div layout:fragment="content" class="container mt-4 content-wrapper">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4" th:text="${isEdit} ? 'Edit category' : 'Add new category'"></h2>
            <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
            <form th:action="${isEdit} ? @{/categories/edit/{categoryId}(categoryId=${categoryId})} : @{/categories}" th:object="${category}" method="post" class="card shadow-sm p-4">

                <div class="mb-3">
                    <label class="form-label">Category name</label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="E.g. Work, Home">
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Color (Hex or name)</label>
                    <input type="color" th:field="*{color}" class="form-control form-control-color" value="#563d7c" title="Choose your color">
                    <div class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary text-white"
                            style="background: linear-gradient(90deg, #316ff6, #4a8cf4); border: none;" th:text="${isEdit} ? 'Update category' : 'Add category'">>
                    </button>
                    <a th:href="@{/}" class="btn btn-outline-secondary">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>