<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">

    <div class="card shadow-sm mb-4 content-wrapper">
        <div class="card-body">
            <h2 class="mb-2">Welcome to your Task Manager!</h2>
            <p class="text-muted">Manage tasks, plan and have everything under control.</p>

            <a class="btn btn-primary" th:href="@{/tasks}">
                Go to your task list
            </a>
        </div>
    </div>

    <div class="row mb-4 g-3">
        <div class="col-6 col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 th:text="${stats.totalTasks}">0</h4>
                    <p class="text-muted mb-0">All Tasks</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 th:text="${stats.todoTasks}">0</h4>
                    <p class="text-muted mb-0">To do</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 th:text="${stats.inProgressTasks}">0</h4>
                    <p class="text-muted mb-0">In Progress</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 th:text="${stats.doneTasks}">0</h4>
                    <p class="text-muted mb-0">Done</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="progress" style="height:30px;">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                 th:style="'width:' + ${stats.percentDone} + '%'"
                 th:text="${stats.percentDone + '% done'}"
                 aria-valuenow="${stats.percentDone}" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0% done</div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="mb-3">Upcoming tasks</h5>

            <div th:if="${#lists.isEmpty(upcomingTasks)}">
                <p class="text-muted">Upcoming tasks not found.</p>
            </div>

            <ul th:unless="${#lists.isEmpty(upcomingTasks)}" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:each="task : ${upcomingTasks}">
                    <span th:text="${task.title}">Tytuł zadania</span>
                    <span class="badge bg-primary"
                          th:text="${#temporals.format(task.dueDate, 'dd.MM.yyyy')}">
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div>

</html>